
body {
    background-image: url("bcg.jpg");
    background-repeat: repeat;
}

.question-icon{
  width:25px;
}
.access-token p, .interval-wrapper p{ 
 display: inline-block;
} 
.params-table{
	width:100%;
	border-collapse:separate; 
	border-spacing:1em;
}

.buttons-center{	
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    height: 150px;
}