
body {
    background-image: url("bcg.jpg");
    background-repeat: repeat;
    
    
}

.question-icon{
  width:25px;
}
.access-token p, .interval-wrapper p{ 
 display: inline-block;
} 
.params-table{
	width:90%;
	border-collapse:separate; 
	border-spacing:7px;
    	background-color: #f9ebd2;
}

.buttons-center{	
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px !important; 
}
 

.row {
    margin-top: 1%;
}

#debug{ 
    width: 90% !important;
}
.dialog-style{
	float:left; 
	margin:12px 12px 20px 0;
}
.dialog-confirm{
    display:none;
}
button[disabled=disabled], button:disabled {
    color: gray;
}
.hidden {
    display: none;
}
.comments-list{
  width: 500px;
}
.wall-id{
  width: 400px;
}